body{ 
    background-image: url("https://media0.giphy.com/media/3o8doSElsBrusFbBny/giphy.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
    h1{color: blue;
    font-family:'Times New Roman', Times, serif;
font-size: 90px;
text-align:center;
}
pre{ color : white ;
    font-size:90px;text-align:center;
}
p{ color : green ;
    font-size:90px;text-align:center;}
