h2.sub-title{
  position: relative;
  display: block;
  margin: 70px auto;
  text-align: center;
  font-size: 35px;
  line-height: 40px;
}
h2.sub-title::after{
  display: block;
  height: 2px;
  width: 100px;
  background-color:  black;
  content: "";
  margin: 30px auto 0 auto;
}
.heart{
  position: relative;
  width: 150px;
  margin: 0 50px;
  fill:red;
  animation: pulse 1s infinite;
}
section.beating-heart h2.sub-title::after{
  background: white;
}

section.beating-heart span{
  font-size: 100px;
  line-height: 105px;
}
section.beating-heart h2{
  margin-bottom: 30px;
}

@keyframes pulse {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}
section.beating-heart{
text-align: center;
  color: white;
  padding: 50px 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
