.button{
  margin: 0 auto;
  display: inline-block;
  background: transparent;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid white;
  transition: .3s;
}
