body{heigth:100%;
}
.bg
{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9TGwzgoP5eGy5hcboGC8qtgomDCfZucJf5Fqd3AJqOEs1Bz3J");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
